[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[core]
	editor = code --wait
[user]
	email = 3356641+jpbourgeon@users.noreply.github.com
	name = jpbourgeon
